#!/bin/sh

# !!!
# {{ ansible_managed }}
# !!!

# source: http://patorjk.com/software/taag/#p=display&f=Standard&t=KSZK%20server
cat <<EOF
{% for line in  motd_ascii_art.stdout.split('\n') %}
{{ line | replace("`","\\`") }}
{% endfor %}
EOF

echo "! ! !"
echo "! Deployed with Ansible on {{ template_run_date.strftime('%Y-%m-%d %H:%M') }}."
echo "! Playbook: {{ base_motd_playbook_url }}"
echo "! ! !"
