#
# !!!
# {{ ansible_managed }}
# !!!

Protocol 2
Port {{ base_ssh.port }}

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

PermitRootLogin {{ base_ssh.permitRootLogin }}
PubkeyAuthentication {{ base_ssh.pubkeyAuthentication }}
PasswordAuthentication {{ base_ssh.passwordAuthentication }}

MaxAuthTries 6

ChallengeResponseAuthentication no
KerberosAuthentication no
GSSAPIAuthentication no
UsePAM yes
AllowAgentForwarding yes
X11Forwarding yes
PrintMotd no

AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server

{% if base_ssh.allow.users is defined %}
AllowUsers {{ base_ssh.allow.users }}
{% endif %}
{% if base_ssh.allow.groups is defined %}
AllowGroups {{ base_ssh.allow.groups }}
{% endif %}
